<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->


</head>

<body>

<div class="container">
  <div class="row" style="height: 5rem;"></div>
  <div class="row">

    <div class="col-12">
      <div class="jumbotron">

        <div class="about-font ">
          <h1 style="color: #3498db;">Social networks <span style="color: #2E2F30">Privacy Dashboard </span></h1>
          <h4 style="text-align: center;"> A dashboard prototype to manage all your privacy on social networks</h4>

        </div>
        <hr class="my-4">
        <p style="font-size: larger;">Click on a button to be redirected to the corresponding interface and check it out. You can get back here anytime by clicking on &nbsp&nbsp&nbsp<span><b> <i class="fa fa-ban" aria-hidden="true" style="padding-right: 0.5rem; color: red;">  </i> Stop Test </b></span>  &nbsp&nbsp&nbsp on the application sidebar</p>

      </div>

      <div class=" row " style="text-align: center; padding-top: 1rem;">
        <div class="col-lg-4 col-xs-6 col-xs-offset-1">

          <div class="about-font" style="padding-top: 3rem; border-bottom: solid 1px lightslategrey; "> <h1> Interface 1</h1></div><div style="height: 2rem;"></div><a class="btn btn-primary btn-lg" href="http://engid87.asuscomm.com:3100" role="button"> Try it!</a>
        </div>
        <div class="col-lg-4 col-xs-6 col-xs-offset-1">
          <div class="about-font" style="padding-top: 3rem; border-bottom: solid 1px lightslategrey;"> <h1>Interface 2</h1></div><div style="height: 2rem;"></div><a class="btn btn-primary btn-lg" href="http://engid87.asuscomm.com:3200" role="button"> Try it!</a>
        </div>
        <div class="col-lg-4 col-xs-6 col-xs-offset-1">
          <div class="about-font" style="padding-top: 3rem; border-bottom: solid 1px lightslategrey;"> <h1>Interface 3</h1></div><div style="height: 2rem;"></div><a class="btn btn-primary btn-lg" href="http://engid87.asuscomm.com:3300" role="button"> Try it!</a>
        </div>
      </div>
    </div>
  </div>

</div>







<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>