<div class="container">


<div class="row noscroll-x">
  <h3>Let's prepare!</h3>

  <div class="col-sm-6 col-padding" style="padding-right: 5rem;">

      <div class="text-justify">
        <h1 class="-first-order">1.</h1>

        <br> <p> To be able to observe and record what you do, I need you to launch a little program called Teamviewer QS. Please download it from the link below and run it.
        Once started, you will see your personal ID and Password, like in the picture here. Please fill them in here and click submit, so that I can connect with your computer and we can start.
      <br><br></p>

    </div>

    <table>
      <tr>
        <td style="width:15rem;"> <b>For Windows: </b> </td>  <td> <a type="button" class="btn btn-default" href="https://download.teamviewer.com/download/TeamViewerQS.exe"> <i class="fa fa-windows" aria-hidden="true"></i> Download </a> </td>
      </tr>
      <tr style="height: 1rem;"></tr>
      <tr>
        <td style="width:15rem;"> <b>For Mac: </b> </td> <td> <a type="button" class="btn btn-default" href="https://download.teamviewer.com/download/TeamViewerQS.dmg"> <i class="fa fa-apple" aria-hidden="true"></i> Download </a> </td>
      </tr>
      <tr style="height: 1rem;"></tr>
      <tr>
        <td style="width:15rem;"> <b>For Ubuntu/Debian: </b> </td> <td> <a type="button" class="btn btn-default" href="https://download.teamviewer.com/download/teamviewer_i386.deb"> <i class="fa fa-linux" aria-hidden="true"></i> Download </a>  (requires full installation) </td>
      </tr>
    </table>
  </div>

  <div class="col-sm-3">
    <h1 class="-first-order">2.</h1>

    <a class="thumbnail fancybox" rel="ligthbox" href="assets/teamviewer.jpg">
      <img class="img-responsive" alt="" src="assets/teamviewer.jpg" />

    </a>

    <div class="container">
      <h1></h1>


      <div class="row">


      </div>
    </div>
  </div>

  <div class="col-sm-3" >
    <h1 class="-first-order">3.</h1>


    <div class="cognito">
      <script src="https://services.cognitoforms.com/s/acgn0T9VakOXuWYC9SDnpQ"></script>
      <script>Cognito.load("forms", { id: "2" });</script>
    </div>



  </div>

</div>
</div>

<script>
    $(function() {
        $('img').on('click', function() {
            $('.enlargeImageModalSource').attr('src', $(this).attr('src'));
            $('#enlargeImageModal').modal('show');
        });
    });
</script>


