<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="page-header" style="padding-bottom: 5%;">
        <h1>Social Network Privacy Dashboard <small> Prototype test</small></h1>
      </div>


    <div class="row grid-divider">
        <div class="col-sm-4 text-justify">
          <div class="col-padding">
            <h3>What is this?</h3>
            <br><p>For my master thesis, I have developed a prototype for a tool called Privacy Dashboard. Its goal is to give people a quick way to check the state of their privacy on different
              social networks.
              <br>
              What I need to do now, is to test this prototype and gather information about its usability and usefulness from actual potential users.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-padding">
            <h3>How does it work?</h3>
           <br> <p>During this test, after the preparation phase, you will have to use the tool to accomplish a given list of tasks and answer some questions regarding the experience. The test includes 3 different interfaces for you to test.
              To be able to analyse the results afterwards, I will record what you do on the screen and (if you give me permission in the next steps) audio from your microphone and video from your webcam.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-padding">
            <h3>Privacy policy</h3>
            <br><ul class="text-black">
              <li> No access to any of your social network accounts is required or asked.</li>
              <li> All the information gathered during this test will only be used for the purpose of evaluating the prototype. </li>
              <li> Audio and webcam recordings (if you choose to provide them) will not be shared with anyone and will be deleted after the finish of my master thesis.</li>


            </ul>
              </div>


        </div>
      </div>

      <div style="text-align: center;padding-top: 0.5em;"> <button type="button" class="btn btn-danger next-step" style="font-size: 18px"><b>Let's start!</b></button></div>




    </div>


</div>
</div>