<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h2> About the Privacy Dashboard in general<br> <small> Don't forget to click "Submit" before going to the next page</small></h2>

      <div style="height: 3rem;"></div>

      <a name="form1004137773" id="formAnchor1004137773"></a>
      <script type="text/javascript" src="https://fs27.formsite.com/include/form/embedManager.js?1004137773"></script>
      <script type="text/javascript">
          EmbedManager.embed({
              key: "https://fs27.formsite.com/res/showFormEmbed?EParam=m%2FOmK8apOTC4cl%2BpdQMcLS7wTqjBKzRQ&1004137773",
              width: "100%",
              mobileResponsive: true
          });
      </script>



    </div>

    <!-- <div class="col-md-6">

      <div class='list-group gallery'>
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
          <a class="thumbnail fancybox" rel="ligthbox" href="http://placehold.it/300x320.png">
            <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
            <div class='text-right'>
              <small class='text-muted'>Image Title</small>
            </div>
          </a>
        </div>
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
          <a class="thumbnail fancybox" rel="ligthbox" href="http://placehold.it/300x320.png">
            <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
            <div class='text-right'>
              <small class='text-muted'>Image Title</small>
            </div>
          </a>
        </div>
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
          <a class="thumbnail fancybox" rel="ligthbox" href="http://placehold.it/300x320.png">
            <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
            <div class='text-right'>
              <small class='text-muted'>Image Title</small>
            </div>
          </a>
        </div>

      </div>
    </div>

    -->


  </div>
</div>

<script>
    $(document).ready(function(){
        //FANCYBOX
        //https://github.com/fancyapps/fancyBox
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });
    });

</script>

