<div class="container">
  <div class="row">





  </div>
  <div class="row">

    <div class="col-sm-3" >
      <h1 class="-first-order">1.</h1> <br>

      <p style="text-align: justify; padding-top: 3em;"> Click this button to open the Privacy Dashboard and try to accomplish the listed tasks, one by one </p>
      <a class="btn btn-primary"  onclick="window.open('http://engid87.asuscomm.com:3100')" role="button"> Open Privacy Dashboard <i class="fa fa-external-link" aria-hidden="true"></i></a>
    </div>

           <div class="col-sm-7 col-sm-offset-1">
             <h1 class="-first-order">2.</h1> <br>

        <div class="funkyradio">
          <div class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox1" required="required" class="form-control"/>
            <label for="checkbox1">Find out if your Pinterest profile can be found from search engines</label>
          </div>
          <div class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox2" />
            <label for="checkbox2">Compare the settings responsible for personalising the ads you see on LinkedIn and Twitter to see if you set the same value for both.</label>
          </div>
          <div class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox3" />
            <label for="checkbox3">Check what could happen if you set <i> "who can see your future posts"</i> to <b>Public</b> on Facebook</label>
          </div>
          <div class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox4" />
            <label for="checkbox4"> Is there a public post that your boss shouldn't see on your Facebook profile?</label>
          </div>
          <div class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox5" />
            <label for="checkbox5">What data does Google + collect about you?</label>
          </div>
          <div class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox6" />
            <label for="checkbox6">Check if all your privacy settings on Pinterest correspond to the recommended value</label>
          </div>
          <div class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox7" />
            <label for="checkbox7"> Click on "Finish test" on the left (on the Privacy Dashboard)</label>
          </div>
        </div>
      </div>
    </div>


  </div>
