<div class="container">
  <div class="row">





  </div>
  <div class="row">

    <div class="col-sm-3" >
      <h1 class="-first-order">1.</h1> <br>

      <p style="text-align: justify; padding-top: 3em;"> Click this button to open the Privacy Dashboard and try to accomplish the listed tasks, one by one </p>
      <a class="btn btn-primary"  onclick="window.open('http://engid87.asuscomm.com:3200')" role="button"> Open Privacy Dashboard <i class="fa fa-external-link" aria-hidden="true"></i></a>
    </div>

    <div class="col-sm-7 col-sm-offset-1">
      <h1 class="-first-order">2.</h1> <br>


      <div class="funkyradio">
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox8" required />
          <label for="checkbox8">Find out if your LinkedIn connections can be notified when you are on the news</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox9" />
          <label for="checkbox9">Find out If twitter can collect information about you even when you are not on their website</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox10" />
          <label for="checkbox10">Check if there is a public picture on Facebook that you wouldn't want to be public</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox11" />
          <label for="checkbox11"> Check what <i>"Help others discover my profile in search results"</i> on Google+ does</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox12" />
          <label for="checkbox12">Find out the default value for <i>"Personalize ads"</i> on Twitter</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox13" />
          <label for="checkbox13">Check who can see your friend/connections list on Facebook and Linkedin to see if you set an equivalent value for both settings</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox14" />
          <label for="checkbox14"> Click on "Finish test" on the left (on the Privacy Dashboard)</label>
        </div>
      </div>
    </div>
  </div>


</div>
