<div class="container">
  <div class="row">





  </div>
  <div class="row">

    <div class="col-sm-3" >
      <h1 class="-first-order">1.</h1> <br>

      <p style="text-align: justify; padding-top: 3em;"> Click this button to open the Privacy Dashboard and try to accomplish the listed tasks, one by one </p>
      <a class="btn btn-primary"  onclick="window.open('http://engid87.asuscomm.com:3300')" role="button"> Open Privacy Dashboard <i class="fa fa-external-link" aria-hidden="true"></i></a>
    </div>

    <div class="col-sm-7 col-sm-offset-1">
      <h1 class="-first-order">2.</h1> <br>


      <div class="funkyradio">
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox15" />
          <label for="checkbox15"> Find out who can tag you in photos on Twitter </label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox16" />
          <label for="checkbox16">Find out what "Don't feature my publicly shared Google+ photos as background images on Google products and services" does on Google+</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox17" />
          <label for="checkbox17">Check what could happen if people can look you up using your phone number on Facebook</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox18" />
          <label for="checkbox18"> Check if the information  that Facebook collects about you can be shared with companies outside of the Facebook group</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox19" />
          <label for="checkbox19">Compare the settings responsible for being found by search engines on Google+ and Pinterest to see if you set the same value for both.</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox20" />
          <label for="checkbox20">Check how private / public your profile is on Google +</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox21" />
          <label for="checkbox21"> Click on "Finish test" on the left (on the Privacy Dashboard)</label>
        </div>
      </div>
    </div>
  </div>


</div>
