<div class="container">
  <div class="row">
    <section>
      <div class="wizard">

        <div class="wizard-inner">
          <div class="connecting-line"></div>
          <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" class="active">
              <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Introduction">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-play"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="About you">
                            <span class="round-tab">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            </span>
              </a>
            </li>
            <li role="presentation" class="disabled">
              <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Download">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step3_2" data-toggle="tab" aria-controls="step3_2" role="tab" title="Scenario">
                            <span class="round-tab">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Test 1">
                            <span class="round-tab">
                                <i class="fa fa-laptop" aria-hidden="true"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab" title="About test 1">
                            <span class="round-tab">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step6" data-toggle="tab" aria-controls="step6" role="tab" title="Test 2">
                            <span class="round-tab">
                                <i class="fa fa-laptop" aria-hidden="true"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step7" data-toggle="tab" aria-controls="step7" role="tab" title="About test 2">
                            <span class="round-tab">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step8" data-toggle="tab" aria-controls="step8" role="tab" title="Test 3">
                            <span class="round-tab">
                                <i class="fa fa-laptop" aria-hidden="true"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step9" data-toggle="tab" aria-controls="step9" role="tab" title="About test 3">
                            <span class="round-tab">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step9_2" data-toggle="tab" aria-controls="step9_2" role="tab" title="About all interfaces">
                            <span class="round-tab">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
              </a>
            </li>
          </ul>
        </div>

        <form role="form" class="">
          <div class="tab-content" >
            <div class="tab-pane active " role="tabpanel" id="step1">
              <div class="row row-content ">


                <%=render partial: "instruction/intro" %>
                </div>


            </div>
            <div class="tab-pane" role="tabpanel" id="step2">
              <div class="row row-content ">
                <div class="col-md-10  col-md-offset-0 col-lg-10 col-lg-offset-1 col-content">

                  <%=render partial: "instruction/quest_start" %>
              </div>
              </div>
              <div class="row spacer-underlined"></div>
              <div class="row row-btn">
              <ul class="list-inline pull-right">
                <span style="color:lightslategrey;"> Don't forget to click "Submit" at the end of the questionnaire<b> before </b>going to the next page</span>
                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                <li><button type="button" class="btn btn-primary next-step">next</button></li>
              </ul>
              </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="step3">
              <div class="row row-fix "> <%=render partial: "instruction/download" %> </div>
              <div class="row spacer-underlined"></div>
              <div class="row row-btn">
                <ul class="list-inline pull-right">
                  <span style="color:lightslategrey;"> Don't forget to click "Submit" <b>before</b> going to the next page</span>
                  <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                  <li><button type="button" class="btn btn-primary next-step">next</button></li>
                </ul>
              </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="step3_2">
              <div class="row row-content "> <%=render partial: "instruction/scenario" %> </div>
              <div class="row spacer-underlined"></div>
              <div class="row row-btn">
                <ul class="list-inline pull-right">
                  <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                  <li><button type="button" class="btn btn-primary next-step">next</button></li>
                </ul>
              </div>
            </div>

            <div class="tab-pane" role="tabpanel" id="step4">
            <div class="row row-content "> <%=render partial: "instruction/task_tab" %> </div>
            <div class="row spacer-underlined"></div>
              <div class="row row-btn">
              <ul class="list-inline pull-right">
                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                <li><button type="button" class="btn btn-primary next-step" >next</button></li>
              </ul>
            </div>
          </div><div class="tab-pane" role="tabpanel" id="step5">
            <div class="row row-fix ">
              <div class="col-md-10  col-md-offset-0 col-lg-10 col-lg-offset-1 col-content">

                <%=render partial: "instruction/quest_tab" %>
              </div>
            </div>
            <div class="row spacer-underlined"></div>
              <div class="row row-btn">
              <ul class="list-inline pull-right">
                <span style="color:lightslategrey;"> Don't forget to click "Submit" at the end of the questionnaire <b>before</b> going to the next page</span>
                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                <li><button type="button" class="btn btn-primary next-step">next</button></li>
              </ul>
            </div>
          </div><div class="tab-pane" role="tabpanel" id="step6">
            <div class="row row-content "> <%=render partial: "instruction/task_tile" %> </div>
            <div class="row spacer-underlined"></div>
              <div class="row row-btn">
              <ul class="list-inline pull-right">
                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                <li><button type="button" class="btn btn-primary next-step">next</button></li>
              </ul>
            </div>
          </div><div class="tab-pane" role="tabpanel" id="step7">
            <div class="row row-content ">
              <div class="col-md-10  col-md-offset-1 col-content">

                <%=render partial: "instruction/quest_tile" %>
              </div> </div>
            <div class="row spacer-underlined"></div>
              <div class="row row-btn">
              <ul class="list-inline pull-right">
                <span style="color:lightslategrey;"> Don't forget to click"Submit" at the end of the questionnaire <b>before</b> going to the next page</span>
                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                <li><button type="button" class="btn btn-primary next-step">next</button></li>
              </ul>
            </div>
          </div><div class="tab-pane" role="tabpanel" id="step8">
            <div class="row row-content "> <%=render partial: "instruction/task_col" %> </div>
            <div class="row spacer-underlined"></div>
              <div class="row row-btn">
              <ul class="list-inline pull-right">
                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                <li><button type="button" class="btn btn-primary next-step">next</button></li>
              </ul>
            </div>
          </div>
            <div class="tab-pane" role="tabpanel" id="step9">

            <div class="row row-content ">
              <div class="col-md-10  col-md-offset-1 col-content">

                <%=render partial: "instruction/quest_col" %>
              </div>
            </div>
            <div class="row spacer-underlined"></div>
              <div class="row row-btn">
              <ul class="list-inline pull-right">
                <span style="color:lightslategrey;"> Don't forget to click"Submit" at the end of the questionnaire <b>before</b> going to the next page</span>
                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                <li><button type="button" class="btn btn-primary next-step">next</button></li>
              </ul>
            </div>
          </div>

            <div class="tab-pane" role="tabpanel" id="step9_2">

              <div class="row row-content ">
                <div class="col-md-12">

                  <%=render partial: "instruction/quest_end" %>
                </div>
              </div>
              <div class="row spacer-underlined"></div>
              <div class="row row-btn">
                <ul class="list-inline pull-right">
                  <span style="color:lightslategrey;"> Don't forget to click"Submit" at the end of the questionnaire <b>before</b> going to the next page</span>
                  <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                  <li><button type="button" class="btn btn-primary next-step">next</button></li>
                </ul>
              </div>
            </div>

            <div class="tab-pane" role="tabpanel" id="complete">
              <div class="row row-content ">

                <%=render partial: "instruction/end" %>
              </div>

              <div class="row spacer-underlined"></div>
              <div class="row row-btn">

              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </form>

      </div>
    </section>
  </div>
</div>