<div class="container">
  <div class="row">
    <di class="col-md-6 col-md-offset-3">

      <section-text class="content">

        <section-text>
          <header>
            <h1 class="line-title">Scenario</h1>
          </header>
          <article>
            Your name is <%= user.name %> and you have accounts for multiple social networks. You had a discussion about the privacy on social networks with a friend and you decided to inform yourself and
            check your profiles. To do that, you are going to use a tool he told you about called Privacy Dashboard
          </article>
        </section-text>
        <section-text>
          <header>
            <h1 class="line-title">What do you have to do?</h1>
          </header>
          <article>
            On the next page you will find a button to open the tool in a new tab and a list of tasks to accomplish. Try to do the tasks one by one and when you think to have found the answer
            click on it to mark it done and go on with the next.
            If the microphone is active, please try to say out loud what you are doing, it is very helpful for the analysis afterwards.
            <br><br>
            <div style="text-align: center"><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#youtube">
            <b>Watch demo</b>
          </button></div>
            <br><br>
            <b> Important: When answering the post-test questions, please be honest. There are no right or wrong answers. Feel free to write the answers in Italian, French or German if you prefer. </b>
          </article>


          <!-- Modal -->
          <div class="modal modal-wide fade" id="youtube" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Privacy Dashboard Demo</h4>
                </div>
                <div class="modal-body">
                  <iframe width="774" height="472" src="https://www.youtube.com/embed/3KJ-a5AGcBg" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                 </div>
              </div>
            </div>
          </div>
        </section-text>


      </section-text>

    </di>


  </div>
</div>