<div class="container">
  <div class="row">





  </div>
  <div class="row">

    <div class="col-sm-3" >
      <h1 class="-first-order">1.</h1> <br>

      <p style="text-align: justify; padding-top: 3em;"> Click this button to open the Privacy Dashboard and try to accomplish the listed tasks, one by one </p>
      <a class="btn btn-primary"  onclick="window.open('http://engid87.asuscomm.com:3100/example')" role="button"> Open Privacy Dashboard <i class="fa fa-external-link" aria-hidden="true"></i></a>
    </div>

    <div class="col-sm-7 col-sm-offset-1">
      <h1 class="-first-order">2.</h1> <br>

      <div class="funkyradio">
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox1" required="required" class="form-control"/>
          <label for="checkbox1">Find out what the weather is going to be like today</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox2" />
          <label for="checkbox2">another task</label>
        </div>
        <div class="funkyradio-success">
          <input type="checkbox" name="checkbox" id="checkbox3" />
          <label for="checkbox3">One more task</label>
        </div>

      </div>
    </div>
  </div>


</div>
