/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "wizard.css";
@import "funky-checkbox.css";
@import "text";
@import "col_divider";
@import "text_sections";
@import "scrollbar";
@import "BootstrapXL.css";

.gallery
{
  display: inline-block;
  margin-top: 20px;
}
.jumbotron{
  border-radius:0px!important;
  box-shadow:1px 1px 4px rgba(0,0,0,0.4);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(https://static.pexels.com/photos/24324/pexels-photo.jpg);
  position: relative;
  height: 100%;


}

.jumbotron .btn{
  border-radius:0px!important;
  box-shadow:1px 1px 4px rgba(0,0,0,0.4);
  padding:10px 40px;
}


.modal.modal-wide .modal-dialog {
  width: 800px;
}
.modal-wide .modal-body {
  overflow-y: auto;
  text-align: center;
}

iframe {
  display: block;
}

.radio {
  height: 3rem;
  width: 3rem;
}

.-first-order {
  color: lightslategrey;

}


.noscroll-x{
  overflow-x: hidden;
}

img {
  cursor: zoom-in;
}

.team {
  height:70%;
  width: 70%;
}

.about-font{
  font-family: 'Varela Round' sans-serif;
  text-align: center;
  text-transform: uppercase;

}


.row-btn {
  padding-top: 2rem;

}

.row-content {
  height: 47rem;
  overflow-y: auto;
  }

.row-fix {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 47rem;
}

.col-content{
  height: 46rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 8%;

}

.spacer-underlined {
  height: 2rem;
  border-bottom: solid 1px lightgrey;
}



