


.content {
    padding-top: 100px;
}

section-text {
    width: 500px;
    margin: auto;
    text-align: justify;
    margin-bottom: 6em;
}

.line-title {
    margin-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;


}
.line-title:before, .line-title:after {
    content: '';
    display: inline-block;
    height: 1px;
    background: #6F7C80;
    width: 50%;
    position: relative;
    vertical-align: middle;
}
.line-title:before {
    left: -0.5em;
    margin-left: -50%;
}
.line-title:after {
    right: -0.5em;
    margin-right: -50%;
}
