<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" style="padding-top: 10em;padding-bottom: 3em; text-align: center;">
      <h1> The test will be ready in a moment <br> <small> Please wait the scheduled time and refresh this page</small> </h1>

    </div>
  </div>
    <div class="row text-center" style="padding-bottom: 3em;" >

      <%= button_to "Refresh Me", "", { :onclick => "history.go(0)", :class => "btn btn-primary" } %>
    </div>

  <div class="row grid-divider" >
    <div class="col-sm-4 text-justify">
      <div class="col-padding">
        <h3>What is this?</h3>
        <br><p>For my master thesis, I have developed a prototype for a tool called Privacy Dashboard. Its goal is to give people a quick way to check the state of their privacy on different
        social networks.
        <br>
        What I need to do now, is to test this prototype and gather information about its usability and usefulness from actual potential users.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>How does it work?</h3>
        <br> <p>During this test, after the preparation phase, you will have to use the tool to accomplish a given list of tasks and answer some questions regarding the experience.
        To be able to analyse the results afterwards, I will record what you do on the screen and (if you give me permission in the next steps) audio from your microphone and video from your webcam.
      </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>Privacy policy</h3>
        <br><ul class="text-black">
        <li> No access to any of your social network accounts is required or asked.</li>
        <li> All the information gathered during this test will only be used for the purpose of evaluating the prototype. </li>
        <li> Audio and webcam recordings (if you choose to provide it) will not be shared with anyone and will be deleted after the finish of my master thesis.</li>


      </ul>
      </div>

    </div>
  </div>
  </div>

